<!-- -*- mode: XML -*- -->

<launch>
    <rosparam file="$(find taticoma_dynamixel)/settings/taticoma_servos.yaml" command="load"/>
    <rosparam file="$(find taticoma_dynamixel)/settings/joints_trajectory_controller.yaml" command="load"/>
    
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 100
                    update_rate: 20
        </rosparam>
    </node>

<!-- Start taticoma_leg_servos joint controller -->
    
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                coha_r1_controller
                coha_r2_controller
                coha_r3_controller
                coha_l1_controller
                coha_l2_controller
                coha_l3_controller
                femur_r1_controller
                femur_r2_controller
                femur_r3_controller
                femur_l1_controller
                femur_l2_controller
                femur_l3_controller
                tibia_r1_controller
                tibia_r2_controller
                tibia_r3_controller
                tibia_l1_controller
                tibia_l2_controller
                tibia_l3_controller
                "
          output="screen"/>
          
  <!-- Start joints trajectory controller controller -->
    <node name="controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                taticoma_controller
                coha_r1_controller
                coha_r2_controller
                coha_r3_controller
                coha_l1_controller
                coha_l2_controller
                coha_l3_controller
                femur_r1_controller
                femur_r2_controller
                femur_r3_controller
                femur_l1_controller
                femur_l2_controller
                femur_l3_controller
                tibia_r1_controller
                tibia_r2_controller
                tibia_r3_controller
                tibia_l1_controller
                tibia_l2_controller
                tibia_l3_controller
               "
          output="screen"/>
</launch>